<html lang="fr">
  <!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>blog rendu de stage</title>
    <link href="/main.css" rel="stylesheet" />
    <link href="/assets/main_article_style.css" rel="stylesheet" />
  </head>
</html>

<header class="header">
  <h3 class="text1">blog de rendu de stage Louis Merlaud</h3>
  <a class="text2" href="../../index.html">A propos</a>
  <a class="text3" href="../articles.html">Articles</a>
  <a class="text4" href="../contact.html">Contact</a>
  <a class="text5" href="../presentation.html">l'entreprise</a>
</header>

<body>
  <h1 class="titre_g">BILAN</h1>
  <div class="article_content">
    <p>
      Pour conclure ce rapport, j'aimerais faire un bilan global ce que ce stage
      a pu m'apporter, ce que j'ai trouvé intéressant, et ce j'ai moins aimé.
    </p>
    <p>
      Premièrement ce stage m'a initié sur une technologie que je ne connaissais
      pas : wordpress; une technologie, possédant des atouts notables tels que :
      la facilité d'utilisation, l'interface et les menus sont clairs, et couplé
      à l'extension elementor, il est possible de faire des intégrations de
      blocs, de textes, d'images directement sur la page souhaitée via un simple
      glissé déposé; on peut également noter la pléthore d'extension présente,
      j'ai déjà évoqué elementor plus haut, mais j'ai également utilisé
      l'extension rank math, permettant de gérer efficacement le référencement
      d'un site, avec une interface pour le SEO très cohérente et explicite.
    </p>
    <p>
      Ce stage m'a permis également de voir comment on pouvait gérer la partie
      commerciale d'un site que cela soit directement via wordpress, ou de par
      des moyens extérieurs (kalendes dans le cas de mon stage).
    </p>
    <p>
      Cependant, j'aurais quelque point à redire concernant ce stage,
      premièrement wordpress est une technologie qui possède des défauts : en
      matière de mise en page et de fonctionnalité back-end, on se retrouve
      souvent limité par la nature "no-code" de la technologie, surtout en tant
      que développeur cela m'a frustré quelquefois, même s'il existe des moyens
      d'intégrer du code dans certaines pages, je trouve cela insuffisant; pour
      continuer sur l'aspect "fermé" de la technologie, j'aimerais mentionner le
      fait que certaines extensions sont payantes, c'est le cas d'elementor par
      exemple, lors de mon stage j'avais certes une version payante de
      l'extension, mais lors de la création de ce blog j'étais surpris du nombre
      d'options payantes et notamment de l'intégration de CSS sur un élément, je
      ne blâmerai pas le fait de rendre une partie de l'extension payantes, mais
      je trouve que comparé à du code traditionnel, on nous demande de payer
      pour quelque chose que l'on aurait pu avoir gratuitement.
    </p>
    <p>
      Également un défaut concernant le stage en lui-même, était que ce dernier
      était en distanciel, car mon maître de stage était en région parisienne,
      sachant que ce dernier n'était pas toujours simple à contacter car il
      avait du travail, je me suis retrouvé assez souvent sans travail à faire
      pour l'entreprise.
    </p>
    <p>
      En conclusion ce stage était une bonne expérience, qui m'a permis
      d'élargir mes horizons sur le domaine du web notamment via l'apprentissage
      du référencement d'un site, qui était quelque chose que je n'avais jamais
      fait auparavant, de plus mon maître de stage m'as bien expliqué les bases
      de la technologie et m'as faits travailler sur un projet qui m'a permis de
      bien comprendre cette dernière, même si j'aurais aimé travailler sur
      différents clients afin d'avoir de la variété durant ce stage.
    </p>
  </div>
</body>

<hr class="article_sep" />

<footer class="footer">
  <h3 class="titre_comp_f">Louis Merlaud - 2022</h3>
</footer>
