<html lang="fr">
  <!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>blog rendu de stage</title>
    <link href="/main.css" rel="stylesheet" />
    <link href="/assets/main_article_style.css" rel="stylesheet" />
  </head>
</html>

<header class="header">
  <h3 class="text1">blog de rendu de stage Louis Merlaud</h3>
  <a class="text2" href="../../index.html">A propos</a>
  <a class="text3" href="../articles.html">Articles</a>
  <a class="text4" href="../contact.html">Contact</a>
  <a class="text5" href="../presentation.html">l'entreprise</a>
</header>

<body>
  <h1 class="titre_g">PREMIER CONTACT</h1>
  <div class="article_content">
    <p>
      La première chose qui m'était donné de faire durant ce stage étais de
      reproduire une page web en utilisant wordpress avec l'extension elementor
      permettant de créer des pages web directement via une action de glisser
      déposer; ce qui était nécessaire étant donné que c'est la technologie
      principale de l'entreprise et par conséquent celle que j'ai le plus
      utiliser au cours de mon stage.
    </p>
    <p>
      Pour recontextualiser wordpress est un outil sorti en 2003, c'est un
      dérivé d'un outil déjà existant nommer b2 créé par Michel Valdrighi en
      2001. Il a été créé dans le but de rendre plus accessible la conception de
      sites web et permettant l'intégration d'extension afin de rendre son
      utilisation plus complète, elementor et l'une de ces extensions, elle est
      sortie en 2016.
    </p>
    <p>
      Concernant, mon premier ressenti par rapport à la technologie, j'étais un
      peu décontenancé car cela est relativement différent de la méthodologie
      "traditionnel" utilisant du code (html, css, php, js), cependant l'outil
      possède une prise en mains très simple et n'importe quelle personne ayant
      quelques notions de web pourra facilement s'y retrouver. Comme dit
      précédemment, il suffit juste de prendre le bloc voulu un faire un glisser
      déposer sur la page afin de pouvoir l'agencer comme on le veut. Pour me
      familiariser avec l'outil, mon premier travail consistait à reproduire une
      page d'accueil déjà existante, la prise en main de l'outil était
      relativement rapide malgré quelques difficultés comme la gestion des
      images.
    </p>
    <p>
      Cependant, l'outil à beau être simple et permet de faire des sites vitrine
      très efficacement, à cause de la restriction due au bloc on ne peut
      forcément faire ce que l'on veut; on peut certes intégrer du js à la page
      et du css au bloc, cela reste rudimentaire et à certains moments j'étais
      un peu frustré de ne pas pouvoir faire de script pour faire des blocs
      customiser par exemple. L'outil possède cependant une gestion de la
      responsivité très agréable. 
    </p>
  </div>
</body>

<hr class="article_sep" />

<footer class="footer">
  <h3 class="titre_comp_f">Louis Merlaud - 2022</h3>
</footer>
