<html lang="fr">
  <!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>blog rendu de stage</title>
    <link href="/main.css" rel="stylesheet" />
    <link href="/assets/main_article_style.css" rel="stylesheet" />
  </head>
</html>

<header class="header">
  <h3 class="text1">blog de rendu de stage Louis Merlaud</h3>
  <a class="text2" href="../../index.html">A propos</a>
  <a class="text3" href="../articles.html">Articles</a>
  <a class="text4" href="../contact.html">Contact</a>
  <a class="text5" href="../presentation.html">l'entreprise</a>
</header>

<body>
  <h1 class="titre_g">PREMIÈRE TÂCHE</h1>
  <div class="article_content">
    <p>
      La première tâche qui m'était confié, était de changer des prix sur le
      site d'un des clients, cette tâche m'a permis de faire de prendre encore
      une fois connaissance de l'outil wordpress, mais en situation réelle.
    </p>
    <p>
      Cette première expérience reste néanmoins très simple, pour changer un
      prix, il suffit de passer par l'interface boutique de  wordpress et
      changer le prix dans la case "prix".
    </p>
    <p>
      Même en restant simple ce travail m'a permis de voir comment pouvais se
      dérouler la mise en place et la gestion de la partie commerciale d'un site
    </p>
  </div>
</body>

<hr class="article_sep2" />

<footer class="footer">
  <h3 class="titre_comp_f">Louis Merlaud - 2022</h3>
</footer>
