<html lang="fr">
  <!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>blog rendu de stage</title>
    <link href="/main.css" rel="stylesheet" />
    <link href="/assets/main_article_style.css" rel="stylesheet" />
  </head>
</html>

<header class="header">
  <h3 class="text1">blog de rendu de stage Louis Merlaud</h3>
  <a class="text2" href="../index.html">A propos</a>
  <a class="text3" href="articles.html">Articles</a>
  <a class="text4" href="contact.html">Contact</a>
  <a class="text5" href="presentation.html">l'entreprise</a>
</header>

<body>
  <h1 class="titre_g">ARTICLES</h1>
  <div class="article_container">
    <h3 class="titre_article">Premier contact</h3>
    <a href="../templates/articles/premier_contact.html" class="article_button"
      >voir</a
    >
  </div>
  <br />
  <div class="article_container">
    <h3 class="titre_article">Première tâche</h3>
    <a href="../templates/articles/premiere_tache.html" class="article_button"
      >voir</a
    >
  </div>
  <br />
  <div class="article_container">
    <h3 class="titre_article">Client ambiance beauté</h3>
    <a
      href="../templates/articles/client_ambiance_beaute.html"
      class="article_button"
      >voir</a
    >
  </div>
  <br />
  <div class="article_container">
    <h3 class="titre_article">Référencement</h3>
    <a href="../templates/articles/referencement.html" class="article_button"
      >voir</a
    >
  </div>
  <br />
  <div class="article_container">
    <h3 class="titre_article">Boutique</h3>
    <a href="../templates/articles/boutique.html" class="article_button"
      >voir</a
    >
  </div>
  <br />
  <div class="article_container">
    <h3 class="titre_article">Bilan</h3>
    <a href="../templates/articles/bilan.html" class="article_button">voir</a>
  </div>
</body>

<hr class="sep" />

<footer class="footer">
  <h3 class="titre_comp_f">Louis Merlaud - 2022</h3>
</footer>
