<html lang="fr">
  <!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>blog rendu de stage</title>
    <link href="/main.css" rel="stylesheet" />
    <link href="/assets/style_contact.css" rel="stylesheet" />
  </head>
</html>

<header class="header">
  <h3 class="text1">blog de rendu de stage Louis Merlaud</h3>
  <a class="text2" href="../index.html">A propos</a>
  <a class="text3" href="articles.html">Articles</a>
  <a class="text4" href="contact.html">Contact</a>
  <a class="text5" href="presentation.html">l'entreprise</a>
</header>

<body>
  <h1 class="titre_g">CONTACT</h1>
  <div class="contact_grid">
    <img src="../images/logo-linkedin.png" class="image_contact" />
    <a
      class="lien_contact"
      href="https://www.linkedin.com/in/louis-merlaud-316b5322b/"
      >https://www.linkedin.com/in/louis-merlaud-316b5322b/</a
    >
  </div>
  <div class="contact_grid">
    <img src="../images/github.png" class="image_contact" />
    <a class="lien_contact" href="https://github.com/cajou42?tab=repositories"
      >https://github.com/cajou42?tab=repositories</a
    >
  </div>
  <div class="contact_grid">
    <img src="../images/call.png" class="image_contact" />
    <p class="lien_contact">07 52 02 49 20</p>
  </div>
  <div class="contact_grid">
    <img src="../images/email.png" class="image_contact" />
    <p class="lien_contact">louis-merlaud@live.fr / louis.merlaud@ynov.com</p>
  </div>
</body>

<hr class="sep8" />

<footer class="footer">
  <h3 class="titre_comp_f">Louis Merlaud - 2022</h3>
</footer>
