<html lang="fr">
  <!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>blog rendu de stage</title>
    <link href="/main.css" rel="stylesheet" />
    <link href="/assets/style_presentation.css" rel="stylesheet" />
  </head>
</html>

<header class="header">
  <h3 class="text1">blog de rendu de stage Louis Merlaud</h3>
  <a class="text2" href="../index.html">A propos</a>
  <a class="text3" href="articles.html">Articles</a>
  <a class="text4" href="contact.html">Contact</a>
  <a class="text5" href="presentation.html">l'entreprise</a>
</header>

<body>
  <h1 class="titre_g">PRÉSENTATION DE L'ENTREPRISE</h1>
  <img src="../images/logo.png" class="logo" />
  <div class="text_ent">
    <p>L’ORGANISME D’ACCUEIL :</p>
    <p>Raison sociale : Couleur Mandarine</p>
    <p>Adresse : 31 rue paul clauden - 33160 Bordeaux - France</p>
    <p>Enregistrée au RCS de 905189593 sous le numéro 90518959300015</p>
    <p>SIRET : 90518959300015</p>
    <p>Représentée par : AXEL CHAPPUIS</p>
    <p>Tél : 0643233170</p>
    <p>E-mail : axel@couleurmandarine.fr</p>
    <p>Agissant en qualité de : CEO</p>
  </div>
  <div class="text_ent">
    <p>
      Couleur Mandarine est une entreprise spécialisée dans la communication
      publicitaire par le biais de créations de site internet via wordpress /
      elementor <br />
      essentiellement dans le domaine du cosmétique et instituts de beauté.
    </p>
    <p>
      En ce qui concerne l'environnement de travail, l'entreprise possède des
      locaux, mais elle peut faire intervenir des personnes en distanciel (ce
      qui était mon cas).
    </p>
  </div>
</body>

<hr class="sep" />

<footer class="footer">
  <h3 class="titre_comp_f">Louis Merlaud - 2022</h3>
</footer>
